.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;
}

.footer {
    order: 1;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.panel {
    height: 100px;

    background-color: var(--accent-1);

    border-radius: 18px;

    box-shadow: 3px 3px 6px #00000066, -3px -3px 6px color-mix(in srgb, var(--background-2) 100%, transparent);

    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}