.footer {
    height: auto;
    aspect-ratio: 7;
    border-radius: 1000px;

    background-color: var(--background-1);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    padding: 12px;

    box-shadow: 3px 3px 6px #00000011, -3px -3px 6px color-mix(in srgb, var(--background-2) 100%, transparent);
}

.footer > button {
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: var(--text);

    padding: 12px;

    border-radius: 1000px;
    box-shadow: inset 3px 3px 6px #00000011, inset -3px -3px 6px color-mix(in srgb, var(--background-2) 100%, transparent);

    border: none;

    background: none;
    height: 100%;
    flex-grow: 1 1 0px;
    width: auto;
}